body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width:100%;
  --w: rgba(255,255,255,1.0);
  --ltg: rgb(0, 186, 59);
  --red: rgb(255, 6, 6);
  --blue: rgb(69, 27, 255);
  --green: rgb(1, 150, 18);
}


.pieChartBox{
  display: flex;
  height: 30%;
  max-height: 100px;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.pieChart{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.pieChartInnerCircle{
  display: flex;
  background-color: var(--w);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

}
